<!--Main Navigation-->
<header>

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed">

        <a class="logo-wrapper waves-effect">
            <img src="../../../../assets/img/angular-mdb.png" class="img-fluid" alt="">
        </a>

        <div class="list-group list-group-flush">

            <a routerLink="dashboards/home" routerLinkActive="active"
                class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="chart-pie" class="mr-3"></mdb-icon><strong>Home</strong>
            </a>

            <button class="dropdown-btn list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="book" class="mr-3"></mdb-icon>Subject
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container m-0">

                <a routerLink="subject/manageSubject" routerLinkActive="active"
                    class="list-group-item list-group-item-action waves-effect">
                    <mdb-icon fas icon="bible" class="mr-3"></mdb-icon>Add Subject
                </a>
                <a routerLink="subject/addSubject" routerLinkActive="active"
                    class="list-group-item list-group-item-action waves-effect">
                    <mdb-icon fas icon="atlas" class="mr-3"></mdb-icon>Manage Subject
                </a>

            </div>


            <button class="dropdown-btn list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="user" class="mr-3"></mdb-icon>Tutors
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">

                <a routerLink="user/manageUser" routerLinkActive="active"
                    class="list-group-item list-group-item-action waves-effect">
                    <mdb-icon fas icon="user" class="mr-3"></mdb-icon>Add Tutors
                </a>
                <a routerLink="user/addUser" routerLinkActive="active"
                    class="list-group-item list-group-item-action waves-effect">
                    <mdb-icon fas icon="user" class="mr-3"></mdb-icon>Manage Tutors
                </a>

            </div>

            <button class="dropdown-btn list-group-item list-group-item-action waves-effect">
                <mdb-icon far icon="map" class="mr-3"></mdb-icon>Questions
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">

                <a routerLink="question/manageQuestion" routerLinkActive="active"
                    class="list-group-item list-group-item-action waves-effect">
                    <mdb-icon far icon="map" class="mr-3"></mdb-icon>Add Questions
                </a>
                <a routerLink="question/addQuestion" routerLinkActive="active"
                    class="list-group-item list-group-item-action waves-effect">
                    <mdb-icon far icon="map" class="mr-2"></mdb-icon>Manage Questions
                </a>

            </div>

        </div>

    </div>
    <!-- Sidebar -->

    <!--Navbar-->
    <mdb-navbar [containerInside]="false" SideClass="navbar navbar-expand-lg navbar-light white">

        <!-- Navbar brand -->
        <logo class="ml-3">
            <a class="navbar-brand" href="https://mdbootstrap.com/angular/angular-bootstrap-getting-started/">
                <strong class="blue-text">MDB</strong>
            </a>
        </logo>

        <!-- Collapsible content -->
        <links>

            <!-- Links -->
            <ul class="navbar-nav mr-auto">

            </ul>
            <button mdbBtn type="button" color="primary" mdbWavesEffect (click)="logOut()">
                <mdb-icon fas icon="cog" class="mr-1"></mdb-icon>Logout
            </button>
            <ul class="navbar-nav nav-flex-icons">


            </ul>
        </links>
        <!-- Collapsible content -->

    </mdb-navbar>
    <!--/.Navbar-->

</header>
<!--Main Navigation-->